.section-lead {
  // padding: 94px 0px;
  padding: 60px 0px;
  @media screen and (min-width: 1170px) {
    padding: 94px 0px;
  }
}
.section-lead__list {
  // display: flex;
  @media screen and (min-width: 768px) and (max-width: 1169px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1170px) {
    display: flex;
  }
}

.section-lead__item {
  // width: 270px;
  // width: 100vw;
  height: auto;
  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    margin: 15px;
  }
  @media screen and (min-width: 1170px) {
    width: 270px;
  }
}

.section-lead__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1170px) {
    margin-right: 30px;
  }
}

.section-lead-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  &__svg {
    fill: black;
  }
}

.section-lead__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.section-lead__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  // width: 270px;
}
