body {
  font-family: Roboto, sans-serif;
  color: #212121;
}

.text {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: normal;
}
.title {
  margin-bottom: 50px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  display: block;
}
