body {
  font-family: Roboto, sans-serif;
  color: #212121;
}

.text {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: normal;
}
.title {
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  display: block;
}
