:root {
  --primary-title-color: #fff;
  --primary-text-color: #757575;
  --secondary-title-color: #212121;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --social-media-fill: #afb1b8;
  --social-media-fill-dark: #ffffff;
  --modal-svg-fill: #212121;
}
